<% provide(:title, "About") %>
<h1>About</h1>
<p>
  The goal of this web app is to take self reported data about your life (well-being, social interactions, habits, routines etc) and find useful
  correlations that you can use to optimize your life. You could additionally, set-up experiments such as exercising in the morning for 2 weeks and
  then exercising in the evening for 2 weeks to calculate which time is better for you. (The program would also take into account the variance and influences
  of all your data to improve the robustness of the results.) This program is something I wanted for my own life after realizing how much companies use
  data to optimize business and how individuals have also started to use data to improve their life (http://www.economist.com/node/21548493). Additionally,
  the numerous data tracking devices and apps entering the market provide a robust way to passively and automatically collect tons of data about your life in addition to self reported data.
</p>
<p>
  Currently, this web-app is about 5% completed. All links and back-end functions work on the site (user creation, user login, habit creation, remember user etc).
</p>
<p>
  To log in without making an account:
</p>
<p>
  user: example@railstutorial.org <br> password: foobar
</p>