<div class="center jumbotron">
  <h1>Ananda</h1>

  <h2>
    Optimize Your Life
  </h2>
  
  <% if !(logged_in?) %>
    <%= link_to "Sign up now", signup_path, class: "btn btn-lg btn-primary" %>
  <% end %>
  
</div>

